In [15]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [16]:
# load the dataset
data1=pd.read_csv("/content/Costomer+OrderForm.csv")

In [3]:
data1.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [18]:
data1.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [19]:
data1.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [20]:
data1.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [22]:
data1.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [23]:
# Make a contingency table
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [24]:
# Chi2 contengency independence test
chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [25]:
# Compare p_value with α = 0.05